---
- name: "Install K3S on Workers"
  ansible.builtin.shell: |
    set -o pipefail
    curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION="{{ k3s_version }}" \
    K3S_URL="https://{{ hostvars[groups['master'][0]]['ansible_host'] }}:6443" \
    K3S_TOKEN="{{ hostvars[groups['master'][0]]['k3s_master_token'] }}" \
    sh -
  args:
    creates: /usr/local/bin/k3s
    executable: /bin/bash
  # noqa: command-instead-of-module
