---
- name: "Install K3S Master (Initial)"
  ansible.builtin.shell: |
    set -o pipefail
    curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION="{{ k3s_version }}" sh -s - server \
    --tls-san {{ kube_vip_address }} \
    --write-kubeconfig-mode 644 \
    --disable traefik \
    --disable servicelb \
    --cluster-init \
    --node-taint node-role.kubernetes.io/master=true:NoSchedule
  args:
    creates: /usr/local/bin/k3s
    executable: /bin/bash
  # noqa: command-instead-of-module

- name: "Wait for kubectl to be ready"
  ansible.builtin.wait_for:
    path: /etc/rancher/k3s/k3s.yaml

- name: "Deploy kube-vip RBAC"
  ansible.builtin.command: kubectl apply -f https://kube-vip.io/manifests/rbac.yaml
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  register: k3s_master_kube_vip_rbac_result
  changed_when: "'created' in k3s_master_kube_vip_rbac_result.stdout or 'configured' in k3s_master_kube_vip_rbac_result.stdout"

- name: "Deploy kube-vip DaemonSet (via Template)"
  ansible.builtin.template:
    src: kube-vip.yaml.j2
    dest: /var/lib/rancher/k3s/server/manifests/kube-vip.yaml
    mode: '0644'

- name: "Fetch Token for Workers"
  ansible.builtin.slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: k3s_master_node_token

- name: "Export Token"
  ansible.builtin.set_fact:
    k3s_master_token: "{{ k3s_master_node_token.content | b64decode | trim }}"

- name: "Fetch K3s Kubeconfig"
  ansible.builtin.fetch:
    src: /etc/rancher/k3s/k3s.yaml
    dest: "{{ playbook_dir }}/k3s_multipass.yaml"
    flat: yes

- name: "Update Kubeconfig Server Address"
  become: false
  delegate_to: localhost
  ansible.builtin.replace:
    path: "{{ playbook_dir }}/k3s_multipass.yaml"
    regexp: '127\.0\.0\.1'
    replace: "{{ ansible_host }}"
