---
- name: "Install K3S Master (Initial)"
  shell: |
    curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION="{{ k3s_version }}" sh -s - server \
    --tls-san {{ kube_vip_address }} \
    --write-kubeconfig-mode 644 \
    --disable traefik \
    --disable servicelb \
    --cluster-init \
    --node-taint node-role.kubernetes.io/master=true:NoSchedule
  args:
    creates: /usr/local/bin/k3s

- name: "Wait for kubectl to be ready"
  wait_for:
    path: /etc/rancher/k3s/k3s.yaml

- name: "Deploy kube-vip RBAC"
  command: kubectl apply -f https://kube-vip.io/manifests/rbac.yaml
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml

- name: "Deploy kube-vip DaemonSet (via Binary)"
  shell: |
    KVVERSION=$(curl -sL https://api.github.com/repos/kube-vip/kube-vip/releases | grep  "tag_name" | head -1 | cut -d '"' -f 4)
    ARCH=$(uname -m)
    if [ "$ARCH" = "x86_64" ]; then ARCH="amd64"; elif [ "$ARCH" = "aarch64" ]; then ARCH="arm64"; fi
    
    curl -sL https://github.com/kube-vip/kube-vip/releases/download/$KVVERSION/kube-vip_linux_$ARCH -o /tmp/kube-vip
    chmod +x /tmp/kube-vip
    
    /tmp/kube-vip manifest daemonset \
        --address {{ kube_vip_address }} \
        --interface {{ network_interface }} \
        --authority \
        --controlplane \
        --arp \
        --leaderElection | kubectl apply -f -
    
    rm /tmp/kube-vip
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml

- name: "Fetch Token for Workers"
  slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: node_token

- name: "Export Token"
  set_fact:
    k3s_token: "{{ node_token.content | b64decode | trim }}"
