---
- name: "Install K3S Master (Initial)"
  ansible.builtin.shell: |
    set -o pipefail
    curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION="{{ k3s_version }}" sh -s - server \
    --tls-san {{ kube_vip_address }} \
    --write-kubeconfig-mode 644 \
    --disable traefik \
    --disable servicelb \
    --cluster-init \
    --node-taint node-role.kubernetes.io/master=true:NoSchedule
  args:
    creates: /usr/local/bin/k3s
    executable: /bin/bash
  # noqa: command-instead-of-module

- name: "Wait for kubectl to be ready"
  ansible.builtin.wait_for:
    path: /etc/rancher/k3s/k3s.yaml

- name: "Deploy kube-vip RBAC"
  ansible.builtin.command: kubectl apply -f https://kube-vip.io/manifests/rbac.yaml
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  register: kube_vip_rbac_result
  changed_when: "'created' in kube_vip_rbac_result.stdout or 'configured' in kube_vip_rbac_result.stdout"

- name: "Deploy kube-vip DaemonSet (via Binary)"
  ansible.builtin.shell: |
    set -o pipefail
    KVVERSION=$(curl -sL https://api.github.com/repos/kube-vip/kube-vip/releases | grep "tag_name" | head -1 | cut -d '"' -f 4)
    ARCH=$(uname -m)
    if [ "$ARCH" = "x86_64" ]; then ARCH="amd64"; elif [ "$ARCH" = "aarch64" ]; then ARCH="arm64"; fi
    
    curl -sL https://github.com/kube-vip/kube-vip/releases/download/$KVVERSION/kube-vip_linux_$ARCH -o /tmp/kube-vip
    chmod +x /tmp/kube-vip
    
    /tmp/kube-vip manifest daemonset \
        --address {{ kube_vip_address }} \
        --interface {{ network_interface }} \
        --authority \
        --controlplane \
        --arp \
        --leaderElection | kubectl apply -f -
    
    rm /tmp/kube-vip
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  args:
    executable: /bin/bash
  register: kube_vip_ds_result
  changed_when: "'created' in kube_vip_ds_result.stdout or 'configured' in kube_vip_ds_result.stdout"
  # noqa: command-instead-of-module risky-shell-pipe

- name: "Fetch Token for Workers"
  ansible.builtin.slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: k3s_master_node_token

- name: "Export Token"
  ansible.builtin.set_fact:
    k3s_master_token: "{{ k3s_master_node_token.content | b64decode | trim }}"
