---
- name: Create runner directory
  ansible.builtin.file:
    path: /actions-runner
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'

- name: Detect Architecture
  ansible.builtin.command: dpkg --print-architecture
  register: github_runner_architecture_result
  changed_when: false

- name: Map Architecture
  ansible.builtin.set_fact:
    github_runner_arch: "{{ 'x64' if github_runner_architecture_result.stdout == 'amd64' else github_runner_architecture_result.stdout }}"

- name: Download GitHub Runner
  ansible.builtin.get_url:
    url: "https://github.com/actions/runner/releases/download/v2.311.0/actions-runner-linux-{{ github_runner_arch }}-2.311.0.tar.gz"
    dest: /actions-runner/actions-runner.tar.gz
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'

- name: Extract GitHub Runner
  ansible.builtin.unarchive:
    src: /actions-runner/actions-runner.tar.gz
    dest: /actions-runner
    remote_src: true
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Install Dependencies
  ansible.builtin.command: /actions-runner/bin/installdependencies.sh
  args:
    chdir: /actions-runner
  changed_when: true

- name: Check if Runner is already configured
  ansible.builtin.stat:
    path: /actions-runner/.runner
  register: github_runner_configured_stat

- name: Configure GitHub Runner
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: >
    ./config.sh --url {{ github_repo_url }}
    --token {{ github_runner_token }}
    --unattended --replace
    --name "{{ inventory_hostname }}-runner"
    --labels self-hosted,linux,{{ github_runner_architecture_result.stdout }}
  args:
    chdir: /actions-runner
  when: not github_runner_configured_stat.stat.exists
  changed_when: true

- name: Install Runner Service
  ansible.builtin.command: ./svc.sh install
  args:
    chdir: /actions-runner
  changed_when: true
  failed_when: false  # Allow failure if service already exists

- name: Start Runner Service
  ansible.builtin.command: ./svc.sh start
  args:
    chdir: /actions-runner
  changed_when: true
  failed_when: false  # Allow failure if already running
